
#top {
    position: relative;
    background-color: #036fab;
    color: white;
    padding: 10px;
    margin: 0px 0px 10px 0px;
}

#bottom {
    position: relative;
    background-color: #c2dfef;
    padding: 5px;
    margin: 10px 0px 0px 0px;
}

#left {
    float: left;
    background-color: #ece3a5;
    padding: 20px;
    width: 150px;
}

#right {
    float: right;
    background-color: #ece3a5;
    padding: 10px;
    width: 150px;
}

#center {
    margin-left: 200px;
    border-style: solid;
    border-width: thin;
    border-spacing: 10px;
}

.center_content {
    position: relative;
    background-color: #dddddd;
    padding: 10px;
}

.left_content {
    background-color: #dddddd;
    padding: 10px;
    margin-left: 170px;
}

.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

.header {
   font-size: 1.4em;
   font-style: italic;
   font-family: Palatino;
   text-align: left;
   padding-left: 20px;
   padding-right: 20px;
}

.title {
    font-size: larger;
    font-family: Arial;
    padding-bottom: 60px;
}

.description {
    height: 100px;
    width: 600px;
    padding: 10px;
    float: bottom;
    border: thin;
    border-style: solid;
    border-color: #AFAFAF;
    background-color: inherit;
}

.right_justify {
    float: right;
}

.place_top {
   vertical-align: top;
}

#top a:link, #top a:visited {
  color: white;
  font-weight : bold;
  text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
  color: black;
  font-weight : bold;
  text-decoration : underline;
}


