/* 
    Document   : card
    Created on : Feb 25, 2013, 10:22:36 PM
    Author     : mheimer
    Description:
        Purpose of the stylesheet follows.
*/

@font-face {
    font-family: 'DejaVu Sans';
    src: url('DejaVuSans.ttf');
}
.card {
    font-family: 'DejaVu Sans';
    font-size: 150%;
}
.redcard {
    font-family: 'DejaVu Sans';
    font-size: 150%;
    color: red;
}